$font-family-sans-serif: "Quicksand", Arial, Helvetica, sans-serif;
$font-family-monospace: "Fira code", Courier, monospace;
@import "node_modules/bootstrap/scss/bootstrap-reboot";

button,
.btn {
  display: inline-block;

  margin: 0 0.25rem 0.25rem 0;
  padding: 0.375rem 0.75rem;

  font-family: inherit;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;

  line-height: $line-height-base;

  color: $body-color;
  background-color: $body-bg;

  text-align: center;
  vertical-align: middle;
  white-space: null;

  cursor: pointer;

  border: $border-width solid transparent;
  border-radius: $border-radius;

  &:hover,
  &.hover {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  &:hover,
  &.hover,
  &:focus,
  &.focus {
    background: darken($body-bg, 10%);
  }

  &.disabled,
  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $body-bg;
    background: $body-color;

    &:focus,
    &.focus {
      outline: 0;
    }

    &:hover,
    &.hover,
    &:focus,
    &.focus {
      background: darken($body-color, 10%);
    }
  }
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}
