html {
    font-family: 'Times New Roman', Times, serif;
    background: white;
    color: black;
}

code {
    color: black;
    background: whitesmoke;
}

blockquote {
    color: black;
    background: transparent;
}
