@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
    color: rgb(27, 31, 35);
    background: rgb(219, 237, 255);
}

code {
    font-family: 'Fira Code', monospace;
    color: rgb(27, 31, 35);
    background: rgb(200, 225, 255);
}

blockquote {
    color: rgb(0, 92, 197);
    background: transparent;
}

span.btn.active {
    color: rgb(0, 92, 197);
    background: transparent;
}

span.btn.disabled {
    color: rgb(27, 31, 35);
    background: transparent;
}