@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

/*
  flow-brand-colors:

  dark-blue rgb(0, 92, 197)
  light-blue rgb(33, 136, 255)
  light-washed-white rgb(219, 237, 255)
  dark-washed-white rgb(200, 225, 255)
  dark-blue-grey rgb(27, 31, 35)
*/

@media print {

  html,
  body {
    overflow: hidden !important;
  }

  html {
    background: white !important;
  }

  body {
    margin: 0 !important;

    font-family: 'Times New Roman', Times, serif !important;
    font-size: 12pt !important;
    line-height: 1.5em !important;
    color: black !important;
  }

  code {
    background-color: whitesmoke !important;
  }

  blockquote {
    color: gray !important;
  }

  .tools {
    display: none;
  }
}

@media all {

  html {
    background: rgb(219, 237, 255);
  }

  body {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    color: rgb(27, 31, 35);
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em;
  }

  code {
    font-family: 'Fira Code', monospace;
    background-color: rgb(200, 225, 255);
  }

  blockquote {
    font-style: italic;
    padding: 0.5em;
    margin: 0;
    border-left: 0.25em solid;
    color: rgb(0, 92, 197);
  }

  div.tools {
    margin-bottom: 0.25em;
    user-select: none;
  }

  span.btn {
    cursor: pointer;
    margin-right: 1em;
    padding: 0.125em 0;
    display: inline-block;
  }

  span.btn.active {
    color: rgb(0, 92, 197);
    font-weight: bolder;
  }

  span.btn.disabled {
    color: rgb(27, 31, 35);
    font-weight: bold;
  }

}