@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

@media print {

  html,
  body {
    overflow: hidden !important;
  }

  body {
    margin: 0 !important;

    font-family: 'Times New Roman', Times, serif !important;
    font-size: 12pt !important;
    line-height: 1.5em !important;
  }

  .tools {
    display: none;
  }
}

@media all {

  html,
  body {
    background: white;
  }

  body {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    color: black;
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em;
  }

  code {
    font-family: 'Fira Code', monospace;
    background-color: #81c91e;
  }

  blockquote {
    font-style: italic;
    padding: 0.5em;
    margin: 0;
    border-left: 0.25em solid;
    color: #81c91e;
  }

  div.tools {
    margin-bottom: 0.25em;
    user-select: none;
  }

  span.btn {
    cursor: pointer;
    margin-right: 1em;
    padding: 0.125em 0;
    display: inline-block;
  }

  span.btn.active {
    color: #81c91e;
    font-weight: bolder;
  }

  span.btn.disabled {
    color: black;
    font-weight: bold;
  }

}