@page {
  size: A4 portrait;
  marks: none;
  bleed: none;
  margin: 25mm;
}

@media print {

  html,
  body {
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: justify !important;
    font-size: 12pt !important;
    line-height: 1.5em !important;
  }

  blockquote {
    font-style: italic !important;
    padding-left: 1em !important;
    border-left: 0.25em solid !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0em !important;
    margin-inline-end: 0em !important;
  }

  div.tools,
  span.btn {
    display: none !important;
  }
}

@media screen {

  html,
  body {
    margin: 1em !important;
    padding: 0em !important;
    text-align: justify !important;
    font-size: 1em !important;
    line-height: 1.5em !important;
  }

  blockquote {
    font-style: italic !important;
    padding-left: 1em !important;
    border-left: 0.25em solid !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0em !important;
    margin-inline-end: 0em !important;
  }

  div.tools {
    margin-bottom: 0.25em !important;
    user-select: none !important;
  }

  span.btn {
    cursor: pointer !important;
    margin-right: 1em !important;
    padding: 0.125em 0em !important;
    display: inline-block !important;
    font-weight: bolder !important;
  }
}