@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

.Wordify-root {
    background: #fff;
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    padding: 1rem;
}

.Wordify-root .Wordify-editor {
    cursor: text;
    margin-top: 0.5rem;
}

.Wordify-editor .public-DraftEditor-content {
    margin: 0 -1rem -1rem;
    padding: 1rem;
}

.Wordify-editor .public-DraftStyleDefault-pre {
    background-color: #eee;
    font-family: "Fira Code", monospace;
    padding: 1rem;
}

.Wordify-root .Wordify-controls {
    margin-bottom: 0.25rem;
    user-select: none;
}

.Wordify-root .Wordify-controls .Wordify-styleButton {
    color: #999;

    cursor: pointer;
    margin-right: 1rem;
    padding: 0.125rem 0;
    display: inline-block;
}

.Wordify-root .Wordify-controls .Wordify-activeButton {
    color: #03A9F4;
    font-weight: bold;
}