@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

.Wordify-root {
    background: white;
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1rem;
}

.Wordify-root .Wordify-editor {
    cursor: text;
    margin-top: 0.5rem;
}

.Wordify-root .Wordify-controls {
    margin-bottom: 0.25rem;
    user-select: none;
}

.Wordify-root .Wordify-controls .Wordify-button {
    color: black;

    cursor: pointer;
    margin-right: 1rem;
    padding: 0.125rem 0;
    display: inline-block;
}

.Wordify-root .Wordify-controls .Wordify-button-active {
    color: #03A9F4;
    font-weight: bolder;
}

.Wordify-root .Wordify-editor .public-DraftEditor-content {
    margin: 1rem;
}

.Wordify-root .Wordify-editor .public-DraftStyleDefault-pre {}

.Wordify-root .Wordify-editor .public-DraftStyleDefault-ul {}

.Wordify-root .Wordify-editor .public-DraftStyleDefault-ol {}
